{%- for udr in data %}
resource "azurerm_route_table" "{{ udr.name }}" {
  name                          = "{{ udr.name }}"
  location                      = "europe"
  resource_group_name           = "my-rg"
  disable_bgp_route_propagation = false

{%- for route in udr.routes %}
  route {
    name           = "{{ route.name }}"
    address_prefix = "{{ route.dest_subnet }}"
    next_hop_type  = "{{ route.next_hop_type }}"
    next_hop_in_ip_address = "{{ route.next_hop_ip }}"
  }
{%- endfor %}
}

{%- endfor %}
